{
  "area": "CMP",
  "brand": "HHQK",
  "CCODE": {
    "1001": {
      "name": "main recipe",
      "paramSet": [
        {
          "code": "1",
          "name": "",
          "type": "Float"
        },
        {
          "code": "2",
          "name": "",
          "type": "Float"
        }
      ]
    }
  }
}